@import models.basket.Basket
@(baskets: Seq[Basket])

<a href="@controllers.routes.HomeController.index()">Back</a><br>
<a href="@controllers.basket.routes.BasketController.createBasket()">Create</a><br><br><br>
@for(basket <- baskets) {
    <a href="@controllers.basket.routes.BasketController.getBasketById(basket.id)"><b>Id: @basket.id</b></a>
    <p>Is bought: @basket.isBought</p>
    @if(basket.isBought == 0) {
        <a href="@controllers.basket.routes.BasketController.updateBasket(basket.id)">Edit</a>
        <a href="@controllers.basket.routes.BasketController.deleteBasket(basket.id)">Delete</a>
    }
    <br><br>
}