@import models.products.Product
@(products: Seq[Product])

<a href="@controllers.routes.HomeController.index()">Back</a><br>
<a href="@controllers.products.routes.ProductController.createProduct()">Create</a><br><br><br>
@for(product <- products) {
    <a href="@controllers.products.routes.ProductController.getProductById(product.id)"><strong>@product.title</strong></a>
    <p>
        Price: @product.price <br>
        Quantity: @product.quantity <br>
        Create date: @product.date
    </p>
    <p>@product.description</p>
    <a href="@controllers.products.routes.ProductController.updateProduct(product.id)">Edit</a>
    <a href="@controllers.products.routes.ProductController.deleteProduct(product.id)">Delete</a>
    <br><br>
}