@import controllers.categories.UpdateSubcategoryForm
@import models.categories.Category
@(subcategory: Form[UpdateSubcategoryForm], categories: Seq[Category])(implicit request: MessagesRequestHeader, flash: Flash)

@import helper._

<a href="@controllers.categories.routes.SubcategoryController.getSubcategories()">Back</a><br><br><br>

@flash.get("success").getOrElse("")

@form(controllers.categories.routes.SubcategoryController.updateSubcategoryHandler()) {
    @helper.CSRF.formField
    <input name="subcategoryId" id="subcategoryId" value="@subcategory("subcategoryId").value" type="hidden">
    @inputText(subcategory("name"))

    <select name="categoryId" id="categoryId">
    @for(category <- categories) {
        @if(category.id == subcategory("categoryId").value.getOrElse("")) {
            <option selected="selected" value="@category.id">@category.name</option>
        } else {
            <option value="@category.id">@category.name</option>
        }
    }
    </select>

    <div class="buttons">
        <input type="submit" value="Add Subcategory"/>
    </div>
}