@import models.orders.ShippingInformation
@(information: ShippingInformation)

<a href="@controllers.orders.routes.ShippingInformationController.getShippingInformation()">Shipping Information</a><br><br><br>

<strong>Id: @information.id</strong><br><br>
<p>
    First name: @information.firstName<br>
    Last name: @information.lastName<br><br>

    E-mail: @information.email <br>
    Street: @information.street @information.houseNumber <br>
    City: @information.city <br>
    Zip Code: @information.zipCode <br>
</p>