@import controllers.orders.UpdateShippingInformationForm
@import models.orders.Order
@(information: Form[UpdateShippingInformationForm], orders: Seq[Order])(implicit request: MessagesRequestHeader, flash: Flash)

@import helper._

@flash.get("success").getOrElse("")

@form(controllers.orders.routes.ShippingInformationController.updateShippingInformationHandler()) {
    @helper.CSRF.formField
    <input name="shippingInformationId" id="shippingInformationId" value="@information("shippingInformationId").value" type="hidden">

    <label>OrderId:</label>
    <select name="orderId" id="orderId">
    @for(order <- orders) {
        @if(order.id == information("shippingInformationId").value.getOrElse("")) {
            <option value="@order.id" selected="selected">@order.id</option>
        } else {
            <option value="@order.id">@order.id</option>
        }
    }
    </select>
    <br>
    @inputText(information("firstName"))
    @inputText(information("lastName"))
    @inputText(information("email"))
    @inputText(information("street"))
    @inputText(information("houseNumber"))
    @inputText(information("city"))
    @inputText(information("zipCode"))
    <br>
    <div class="buttons">
        <input type="submit" value="Update Shipping Information"/>
    </div>
}