@import controllers.orders.CreateShippingInformationForm
@(information: Form[CreateShippingInformationForm])(implicit request: MessagesRequestHeader, flash: Flash)

@import helper._

@flash.get("success").getOrElse("")

@form(controllers.orders.routes.ShippingInformationController.createShippingInformationHandler()) {
    @helper.CSRF.formField
    @inputText(information("firstName"))
    @inputText(information("lastName"))
    @inputText(information("email"))
    @inputText(information("street"))
    @inputText(information("houseNumber"))
    @inputText(information("city"))
    @inputText(information("zipCode"))
    <br>
    <div class="buttons">
        <input type="submit" value="Add Shipping Information"/>
    </div>
}