@import controllers.orders.UpdateShippingInformationForm
@(information: Form[UpdateShippingInformationForm])(implicit request: MessagesRequestHeader, flash: Flash)

@import helper._

@flash.get("success").getOrElse("")

@form(controllers.orders.routes.ShippingInformationController.updateShippingInformationHandler()) {
    @helper.CSRF.formField
    <input name="shippingInformationId" id="shippingInformationId" value="@information("shippingInformationId").value" type="hidden">

    @inputText(information("firstName"))
    @inputText(information("lastName"))
    @inputText(information("email"))
    @inputText(information("street"))
    @inputText(information("houseNumber"))
    @inputText(information("city"))
    @inputText(information("zipCode"))
    <br>
    <div class="buttons">
        <input type="submit" value="Update Shipping Information"/>
    </div>
}