@()

<a href="@controllers.categories.routes.CategoryController.getCategories()">Categories</a><br><br>
<a href="@controllers.categories.routes.SubcategoryController.getSubcategories()">Subcategories</a><br><br>
<a href="@controllers.products.routes.ProductController.getProducts()">Products</a><br><br>
<a href="@controllers.products.routes.PhotoController.getPhotos()">Photos</a><br><br>
<a href="@controllers.products.routes.OpinionController.getOpinions()">Opinions</a><br><br>
<a href="@controllers.basket.routes.BasketController.getBaskets()">Baskets</a><br><br>
<a href="@controllers.basket.routes.OrderedProductsController.getOrderedProducts()">Ordered Products</a><br><br>
<a href="@controllers.orders.routes.ShippingInformationController.getShippingInformation()">Shipping Information</a><br><br>
<a href="@controllers.orders.routes.OrderController.getOrders()">Orders</a><br><br>
<a href="@controllers.orders.routes.PaymentController.getPayments()">Payments</a><br><br>