@import controllers.orders.UpdateOrderForm
@import models.basket.Basket
@import models.orders.ShippingInformation
@(order: Form[UpdateOrderForm], baskets: Seq[Basket], information: Seq[ShippingInformation])(implicit request: MessagesRequestHeader, flash: Flash)

@import helper._

@flash.get("success").getOrElse("")

@form(controllers.orders.routes.OrderController.updateOrderHandler()) {
    @helper.CSRF.formField
    <input name="orderId" id="orderId" value="@order("orderId").value" type="hidden">
    <input name="state" id="state" value="@order("state").value" type="hidden">

    <label>BasketId:</label>
    <select name="basketId" id="basketId">
    @for(basket <- baskets) {
        @if(basket.id == order("basketId").value.getOrElse("")) {
            <option value="@basket.id" selected="selected">@basket.id</option>
        } else {
            <option value="@basket.id">@basket.id</option>
        }
    }
    </select>
    <br>
    <label>ShippingInformationId:</label>
    <select name="shippingInformationId" id="shippingInformationId">
    @for(info <- information) {
        @if(info.id == order("shippingInformationId").value.getOrElse("")) {
            <option value="@info.id" selected="selected">@info.id</option>
        } else {
            <option value="@info.id">@info.id</option>
        }
    }
    </select>
    <br>
    <div class="buttons">
        <input type="submit" value="Update Order"/>
    </div>
}