@import models.orders.Order
@(orders: Seq[Order])

<a href="@controllers.routes.HomeController.index()">Back</a><br>
<a href="@controllers.orders.routes.OrderController.createOrder()">Create</a><br><br><br>
@for(order <- orders) {
    <a href="@controllers.orders.routes.OrderController.getOrderById(order.id)"><b>Id: @order.id</b></a>
    <p>
        BasketId: @order.basketId <br>
        ShippingInformationId: @order.shippingInformationId <br>
        State: @order.state <br>
    </p>
    @if(order.state.equals("CANCELLED") || order.state.equals("NOT_PAID")) {
        <a href="@controllers.orders.routes.OrderController.updateOrder(order.id)">Edit</a>
    }
    @if(order.state.equals("CANCELLED")) {
        <a href="@controllers.orders.routes.OrderController.deleteOrder(order.id)">Delete</a>
    }
    @if(order.state.equals("PAID")) {
        <a href="@controllers.orders.routes.OrderController.deliverOrder(order.id)">Delivered</a>
    }
    <br><br>
}