@import controllers.orders.CreateOrderForm
@import models.basket.Basket
@import models.orders.ShippingInformation
@(order: Form[CreateOrderForm], baskets: Seq[Basket], information: Seq[ShippingInformation])(implicit request: MessagesRequestHeader, flash: Flash)

@import helper._

@flash.get("success").getOrElse("")

@form(controllers.orders.routes.OrderController.createOrderHandler()) {
    @helper.CSRF.formField

    <label>BasketId:</label>
    <select name="basketId" id="basketId">
    @for(basket <- baskets) {
        <option value="@basket.id">@basket.id</option>
    }
    </select>
    <br>
    <label>ShippingInformationId:</label>
    <select name="shippingInformationId" id="shippingInformationId">
    @for(info <- information) {
        <option value="@info.id">@info.id</option>
    }
    </select>
    <br>
    <div class="buttons">
        <input type="submit" value="Add Order"/>
    </div>
}