@import models.categories.Category
@(categories: Seq[Category])

<a href="@controllers.routes.HomeController.index()">Back</a><br>
<a href="@controllers.categories.routes.CategoryController.createCategory()">Create</a><br><br><br>
@for(category <- categories) {
    <a href="@controllers.categories.routes.CategoryController.getCategoryById(category.id)"><b>@category.id</b></a>
    <p>@category.name</p>
    <a href="@controllers.categories.routes.CategoryController.updateCategory(category.id)">Edit</a>
    <a href="@controllers.categories.routes.CategoryController.deleteCategory(category.id)">Delete</a>
    <br><br>
}