@import controllers.categories.CreateCategoryForm
@(category: Form[CreateCategoryForm])(implicit request: MessagesRequestHeader, flash: Flash)

@import helper._

<a href="@controllers.categories.routes.CategoryController.getCategories()">Back</a><br><br><br>

@flash.get("success").getOrElse("")

@form(controllers.categories.routes.CategoryController.createCategoryHandler()) {
    @helper.CSRF.formField
    @inputText(category("name"))

    <div class="buttons">
        <input type="submit" value="Add Product"/>
    </div>
}