@import models.orders.Payment
@(payments: Seq[Payment])

<a href="@controllers.routes.HomeController.index()">Back</a><br>
<a href="@controllers.orders.routes.PaymentController.createPayment()">Create</a><br><br><br>
@for(payment <- payments) {
    <a href="@controllers.orders.routes.PaymentController.getPaymentById(payment.id)"><b>Id: @payment.id</b></a>
    <p>
        OrderId: @payment.orderId <br>
        Is done: @payment.isDone <br>
        Date: @payment.date <br>
    </p>
    @if(payment.isDone == 0) {
        <a href="@controllers.orders.routes.PaymentController.updatePayment(payment.id)">Edit</a>
        <a href="@controllers.orders.routes.PaymentController.finalizePayment(payment.id)">Pay</a>
    }
    <a href="@controllers.orders.routes.PaymentController.deletePayment(payment.id)">Delete</a>
    <br><br>
}