@import controllers.orders.UpdatePaymentForm
@import models.orders.Order
@(payment: Form[UpdatePaymentForm], orders: Seq[Order])(implicit request: MessagesRequestHeader, flash: Flash)

@import helper._

@flash.get("success").getOrElse("")

@form(controllers.orders.routes.PaymentController.updatePaymentHandler()) {
    @helper.CSRF.formField
    <input name="paymentId" id="paymentId" value="@payment("paymentId").value" type="hidden">

    <label>OrderId:</label>
    <select name="orderId" id="orderId">
    @for(order <- orders) {
        @if(order.id == payment("orderId").value.getOrElse("")) {
            <option value="@order.id" selected="selected">@order.id</option>
        } else {
            <option value="@order.id">@order.id</option>
        }
    }
    </select>
    <br>
    <div class="buttons">
        <input type="submit" value="Update Payment"/>
    </div>
}